<div class="sidenav-header">
  <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
    aria-hidden="true" id="iconSidenav"></i>
  <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/material-dashboard/pages/dashboard "
    target="_blank">
    <img src="/../assets/img/logo-ct.png" class="navbar-brand-img h-100" alt="main_logo">
    <span class="ms-1 font-weight-bold text-white">{{name}}</span>
  </a>
</div>
<hr class="horizontal light mt-0 mb-2">
<div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a [class]="changeClass('/')" href="#">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">dashboard</i>
        </div>
        <span class="nav-link-text ms-1">Ana Sayfa</span>
      </a>
    </li>
    <li *ngIf="currencyAccount" class="nav-item">
      <a [class]="changeClass('/currency-account')" href="/currency-account">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">person</i>
        </div>
        <span class="nav-link-text ms-1">Cariler</span>
      </a>
    </li>
    <li *ngIf="user" class="nav-item">
      <a [class]="changeClass('/user')" href="/user">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">assignment_ind</i>
        </div>
        <span class="nav-link-text ms-1">Kullanıcılar</span>
      </a>
    </li>
    <li *ngIf="company" class="nav-item">
      <a [class]="changeClass('/company')" href="/company">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">chrome_reader_mode</i>
        </div>
        <span class="nav-link-text ms-1">Şirketler</span>
      </a>
    </li>
    <li *ngIf="mailParameter" class="nav-item">
      <a [class]="changeClass('/mail-parameter')" href="./pages/sign-up.html" data-bs-toggle="modal" data-bs-target="#mailParameterModal" (click)="getMailParameter()">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">alternate_email</i>
        </div>
        <span class="nav-link-text ms-1">Mail Gönderimi</span>
      </a>
    </li>
    <li *ngIf="mailTemplate" class="nav-item">
      <a [class]="changeClass('/mail-template')" href="./pages/sign-up.html" data-bs-toggle="modal" data-bs-target="#mailTemplateModal">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">comment</i>
        </div>
        <span class="nav-link-text ms-1">Mail Şablonları</span>
      </a>
    </li>
    <li class="nav-item mt-3">
      <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Kayıtlar</h6>
    </li>
    <li *ngIf="accountReconciliation"  class="nav-item">
      <a [class]="changeClass('/ereconcilitions')" href="#">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">assignment_turned_in</i>
        </div>
        <span class="nav-link-text ms-1">Cari Mutabakatlar</span>
      </a>
    </li>
    <li *ngIf="baBsReconciliation" class="nav-item">
      <a [class]="changeClass('/ebabsreconcilitions')" href="#">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">description</i>
        </div>
        <span class="nav-link-text ms-1">Ba-Bs Mutabakatlar</span>
      </a>
    </li>
  </ul>
</div>
<div class="sidenav-footer position-absolute w-100 bottom-0 ">
  <div class="mx-3">
    <a class="btn bg-gradient-primary mt-4 w-100"
      href="#" type="button" (click)="logout()"><i class="material-icons opacity-10">login</i> Çıkış Yap</a>
  </div>
</div>

<div class="modal fade" id="mailParameterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Mail Parametreleri Formu Formu</h5>
        <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form" [formGroup]="updateForm">
          <div class="input-group input-group-dynamic is-valid mb-4">
            <label class="form-label">Mail Adresi</label>
            <input type="email" formControlName="email" [(ngModel)]="email" class="form-control">
          </div>
          <div class="input-group input-group-dynamic is-valid mb-4">
            <label class="form-label">Şifre</label>
            <input type="password" formControlName="password"  class="form-control">
          </div>
          <div class="input-group input-group-dynamic is-valid mb-4">
            <label class="form-label">SMTP</label>
            <input type="text" formControlName="smtp" class="form-control">
          </div>
          <div class="input-group input-group-dynamic is-valid mb-4">
            <label class="form-label">Port</label>
            <input type="number" formControlName="port" class="form-control">
          </div>
          <div class="form-check form-switch d-flex align-items-center mb-3">
            <input class="form-check-input" type="checkbox" id="ssl" formControlName="ssl" />
            <label class="form-check-label mb-0 ms-2" for="ssl" formControlName="ssl" >SSL</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn bg-gradient-primary" (click)="update()">Güncelle</button>
        <button type="submit" class="btn bg-gradient-info" (click)="connectionTest(email)">Bağlantı Test Maili Gönder</button>
        <button type="button" class="btn bg-gradient-secondary" id="closeupdateModel"
          data-bs-dismiss="modal">Kapat</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mailTemplateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Mail Şablonları Formu</h5>
        <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form" [formGroup]="updateMailTemplateForm">
          <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent"></angular-editor>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn bg-gradient-primary" (click)="update()">Güncelle</button>
        <button type="button" class="btn bg-gradient-secondary" id="closeMailTempleteModel"
          data-bs-dismiss="modal">Kapat</button>
      </div>
    </div>
  </div>
</div>
